<main>
  <p id="notice"></p>
  <div class='container px-5 px-sm-0'>
    <div class='row'>
      <div class='col-md-3'>
        <%= render "users/user_info", user: @user, book: Book.new %>
      </div>

      <div class='col-md-8 offset-md-1'>
        <h2>Book detail</h2>
        <table class='table table-hover table-inverse'>
          <tbody>
            <tr>
              <td>
                <%= attachment_image_tag @user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg", size: "40x40" %>
                </br><%= link_to @user.name, user_path(@user.id) %>
              </td>
              <td><%= link_to @book.title, book_path(@book.id) %></a></td>
              <td><%= @book.body %></td>
              
              <% if @book.favorited_by?(current_user) %>
                <td>
                  <%= link_to book_favorites_path(@book.id), method: :delete, class: "fas fa-heart", style: "color: red" do %>
                    <%= @book.favorites.count %>
                  <% end %>
                </td>
                <% else %>
                <td>
                  <%= link_to book_favorites_path(@book.id), method: :post, class: "fas fa-heart" do  %>
                    <%= @book.favorites.count %>
                  <% end %>
                </td>
              <% end %>

              <% if @user.id == current_user.id %>
              <td><%= link_to "Edit", edit_book_path(@book.id), {class: "btn btn-sm btn-success"} %></td>
              <td><%= link_to "Destroy", destroy_book_path(@book.id), {method: :delete, data: {"confirm" => "本当に消しますか？"}, class: "btn btn-sm btn-danger"} %></td>
              <% end %>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>